.wrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  color: rgb(116, 16, 16);
}
.header {
  text-align: center;
  min-height: 20vh;
  border: 1px solid white;
  width: 100%;
}
.main {
  height: 60vh;
}
.footer {
  text-align: center;
  height: 20vh;
  border: 1px solid white;
  width: 100%;
}
/* .add {
  display: flex;
  flex-direction: column;
}
.delete {
  display: flex;
  flex-direction: column;
} */
button {
  margin: 10px;
}
